<?xml version="1.0"?>
<config>
    <modules>
        <Stoik_Stagefileproxy>
            <version>0.2.0</version>
        </Stoik_Stagefileproxy>
    </modules>
    <global>
        <models>
            <catalog>
                <rewrite>
                    <product_image>Stoik_Stagefileproxy_Model_Product_Image</product_image>
                </rewrite>
            </catalog>
        </models>
        <blocks>
            <stagefileproxy>
                <class>Stoik_Stagefileproxy_Block</class>
            </stagefileproxy>
        </blocks>
        <helpers>
            <stagefileproxy>
                <class>Stoik_Stagefileproxy_Helper</class>
            </stagefileproxy>
        </helpers>
		<events>
			<core_block_abstract_to_html_after>
				<observers>
					<stoik_stagefileproxy_core_block_abstract_to_html_after>
						<class>Stoik_Stagefileproxy_Model_Observer</class>
						<method>stageFileProxy</method>
					</stoik_stagefileproxy_core_block_abstract_to_html_after>
				</observers>
			</core_block_abstract_to_html_after>
		</events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <stoikinfo>
											<title>Stoik - All</title>
										</stoikinfo>
                                        <stagefileproxy>
                                            <title>Stage File Proxy</title>
                                        </stagefileproxy>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <stagefileproxy>
            <option>
                <active>1</active>
                <code>magento</code>
            </option>
            <dropdown>php_curl</dropdown>
        </stagefileproxy>
    </default>
</config>